## Assignment 2 - Segmenting and Clustering Neighborhoods in Toronto - Part 2

In [1]:
import numpy as np 
import pandas as pd

In [13]:
TorontoPostalCodes = pd.read_csv('data/Toronto_part_1.csv').set_index("Postcode")
TorontoPostalCodes.rename_axis("Postal Code", axis='index', inplace=True)
TorontoPostalCodes.head()

                 Borough                           Neighbourhood
Postal Code
M1B          Scarborough                          Malvern, Rouge
M1C          Scarborough  Highland Creek, Port Union, Rouge Hill
M1E          Scarborough       Guildwood, Morningside, West Hill
M1G          Scarborough                                  Woburn
M1H          Scarborough                               Cedarbrae

#### Retrieving postcode coordinates

Now that you have built a dataframe of the postal code of each neighborhood along with the borough name and neighborhood name, in order to utilize the Foursquare location data, we need to get the latitude and the longitude coordinates of each neighborhood.

In an older version of this course, we were leveraging the Google Maps Geocoding API to get the latitude and the longitude coordinates of each neighborhood. However, recently Google started charging for their API: http://geoawesomeness.com/developers-up-in-arms-over-google-maps-api-insane-price-hike/, so we will use the Geocoder Python package instead: https://geocoder.readthedocs.io/index.html.

The problem with this Package is you have to be persistent sometimes in order to get the geographical coordinates of a given postal code. So you can make a call to get the latitude and longitude coordinates of a given postal code and the result would be None, and then make the call again and you would get the coordinates. So, in order to make sure that you get the coordinates for all of our neighborhoods, you can run a while loop for each postal code.

For this task, we just use a prepared csv to retrieve the coordinates.

- Extract csv with Toronto geographical coordinates to dataframe.

In [8]:
link = "http://cocl.us/Geospatial_data"
df1 = pd.read_csv(link).set_index('Postal Code')
df1.head()

              Latitude  Longitude
Postal Code
M1B          43.806686 -79.194353
M1C          43.784535 -79.160497
M1E          43.763573 -79.188711
M1G          43.770992 -79.216917
M1H          43.773136 -79.239476

**Joining two dataframes**

In [9]:
toronto_n = TorontoPostalCodes.join(df1)
toronto_n.head()

,Borough,Neighbourhood,Latitude,Longitude
Postal Code,,,,
M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
M1C,Scarborough,"Highland Creek, Port Union, Rouge Hill",43.784535,-79.160497
M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
M1G,Scarborough,Woburn,43.770992,-79.216917
M1H,Scarborough,Cedarbrae,43.773136,-79.239476

**Shape**

In [11]:
toronto_n.shape

(103, 4)

**Saving The Dataframe to .csv**

In [14]:
toronto_neighborhoods.to_csv('data/Toronto_part_2.csv',index=False)